table {
    border: 0.1px solid #cecece;
    text-align: left;
    padding: 10px;
    border-collapse: collapse;
    width: 500px;
    z-index: 99;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

tr {
    border: 0.1px solid #cecece;
}

td:nth-child(1) {
    padding: 10px 10px;
}

td:nth-child(2) {
    padding: 10px 20px;
}